<p-toast></p-toast>
<div class="ui-g-8">
  <p-progressBar *ngIf="carregando" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  <form (submit)="salvarSistema()" [formGroup]="sistemaForm">
    <p-panel>
      <p-header>
        Manter Sistema
        <span class="ui-panel-title" style="font-size:12px;display:inline-block;margin-top:2px;float:right;">* Campo Obrigatório</span>
      </p-header>
      <p-fieldset>
        <p-header>Dados do Sistema</p-header>
          <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="" class="label-required">Descrição</label>
            </div>
            <div class="ui-g-12 ui-md-5">
              <div class="ui-inputgroup">
                <input type="text" pInputText maxlength="100" title="Descrição do sistema" required formControlName="descricao">
              </div>
            </div>
            <div class="ui-grid-col-3 msg-error">
              <p-message severity="error" text="Campo obrigatório" *ngIf="descricao.hasError('required') && descricao.dirty"></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
                <label for="" class="label-required">Sigla</label>
            </div>
            <div class="ui-g-12 ui-md-5">
              <div class="ui-inputgroup">
                <input type="text" pInputText maxlength="10" title="Sigla do sistema" required formControlName="sigla">
              </div>
            </div>
            <div class="ui-grid-col-3 msg-error">
              <p-message severity="error" text="Campo obrigatório" *ngIf="sigla.hasError('required') && sigla.dirty"></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
                <label for="">E-mail de atendimento do sistema</label>
            </div>
            <div class="ui-g-12 ui-md-5">
              <div class="ui-inputgroup">
                <input type="text" pInputText maxlength="100" title="E-mail de atendimento do sistema" formControlName="emailAtendimento">
              </div>
            </div>
            <div class="ui-grid-col-3 msg-error">
              <p-message severity="error" text="E-mail inválido" *ngIf="emailAtendimento.hasError('email')"></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="">URL</label>
            </div>
            <div class="ui-g-12 ui-md-5">
              <div class="ui-inputgroup">
                <input type="text" pInputText maxlength="50" title="URL de acesso ao sistema" formControlName="url">
              </div>
            </div>
          </div>
      </p-fieldset>
      <p-footer class="ui-card-footer pFooter">
        <button routerLink="/sistema" pButton type="button" icon="pi pi-chevron-left" title="Descarta os dados informados e retorna a página de pesquisa" iconPos="left" label="Voltar" class="ui-button-raised ui-button-secondary"></button>
        <button pButton type="submit" icon="pi pi-save" iconPos="right" [disabled]="sistemaForm.invalid" label="Salvar" title="Salva os dados do sistema" class="ui-button-raised ui-button-secondary btn-salvar"></button>
      </p-footer>
    </p-panel>
  </form>
</div>
