<p-toast></p-toast>
<div class="ui-g-8">
  <p-progressBar *ngIf="carregando" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  <p-panel>
    <p-header>Pesquisar Sistema</p-header>
    <p-fieldset>
      <p-header>Filtro de Consulta</p-header>
      <div class="ui-g-12 ui-md-4">
        <label for="">Descrição</label>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
          <input type="text" pInputText maxlength="100" title="Descrição do sistema" [(ngModel)]="filtro.descricao">
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
          <label for="">Sigla</label>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
          <input type="text" pInputText maxlength="10" title="Sigla do sistema" [(ngModel)]="filtro.sigla">
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
          <label for="">E-mail de atendimento do sistema</label>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
          <input type="text" pInputText maxlength="100" title="E-mail de atendimento do sistema" [(ngModel)]="filtro.emailAtendimento">
        </div>
      </div>
    </p-fieldset>
    <p-fieldset id="resultadoConsulta">
        <p-header>Resultado da Consulta</p-header>
        <p-table [value]="sistemas" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>Descrição</th>
              <th>Sigla</th>
              <th style="width: 25%">E-mail de atendimento</th>
              <th style="width: 25%">URL</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr *ngFor="let sistema of sistemas">
              <td style="text-align: left">{{ sistema.descricao }}</td>
              <td style="text-align: center">{{ sistema.sigla }}</td>
              <td style="text-align: left;">{{ sistema.emailAtendimento }}</td>
              <td style="text-align: left">{{ sistema.url }}</td>
              <td style="text-align: center">{{ sistema.status }}</td>
              <td style="text-align: center">
                <i class="pi pi-pencil" style="font-size: 20px; cursor: pointer;"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
    </p-fieldset>
    <p-footer class="ui-card-footer pFooter">
      <button pButton type="button" (click)="buscarSistemasFiltro();" icon="pi pi-search" iconPos="right" label="Pesquisar" class="ui-button-raised ui-button-secondary"></button>
      <button pButton type="button" icon="pi pi-refresh" iconPos="right" label="Limpar" class="ui-button-raised ui-button-secondary" (click)="limparCampos();"></button>
      <button routerLink="/sistema/cadastrar" pButton type="button" icon="pi pi-plus" iconPos="right" label="Novo Sistema" class="ui-button-raised ui-button-secondary"></button>
    </p-footer>
  </p-panel>
</div>
